@import url("https://fonts.googleapis.com/css2?family=Kulim+Park:wght@400;600&family=Poppins&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: 'Kulim Park Poppins';
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #96C3DD;
}

.nav-container a {
  color: white;
}

section {
  padding: 4em 2em;
  text-align: center;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  font-weight: bold;
}

header .logo {
  color: yellow;
}

nav {
  float: right;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul a {
  display: block;
  padding: 0 1em;
}

.right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
  font-weight: bold;
}

.right-nav .logo {
  color: yellow;
}

.right-nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: currentColor;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: -webkit-transform 250ms ease-in;
  transition: -webkit-transform 250ms ease-in;
  transition: transform 250ms ease-in;
  transition: transform 250ms ease-in, -webkit-transform 250ms ease-in;
}

.right-nav:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.skills {
  background: #0ea4af;
}

.skills-container ul li {
  background: white;
  padding: 2em;
  border-radius: 1em;
  margin-bottom: 1em;
}

.icon-container {
  height: 100px;
  display: -ms-grid;
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.icon-container.one {
  width: 100px;
}

.icon-container.two {
  width: 80px;
}

.icon-container.three {
  width: 100px;
}

.skill-title {
  font-weight: bold;
}

.featured-desc {
  margin-bottom: 2em;
}

.portfolio {
  background: #0ea4af;
}

.portfolio-container a img {
  border-radius: 1em;
  margin-bottom: 2em;
}

@media only screen and (min-width: 800px) {
  .portfolio {
    text-align: left;
  }
  .portfolio-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% auto;
        grid-template-columns: 40% auto;
  }
  .left .portfolio-left {
    display: -ms-grid;
    display: grid;
    place-content: center;
  }
  .right {
    margin-left: 2em;
    margin-top: 1em;
  }
  .skills {
    margin-top: -5em;
    margin-bottom: -7em;
    padding-top: 7em;
  }
  .skills-container ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
    grid-gap: 1em;
  }
  .portfolio {
    padding-top: 7em;
  }
  .portolio-container img {
    margin-left: 2em;
  }
}

@media only screen and (min-width: 1050px) {
  .portfolio img {
    float: right;
    max-width: 500px;
  }
}
/*# sourceMappingURL=main.css.map */